<h1><%= @list.name %></h1>
<ul>
	<% @list.products.each do |product| %>
		<li><%= link_to product.name, user_product_path(@user, product) %> <%= @list.find_product_amount(product) %></li>
	<% end %>
</ul>

<%= form_tag user_list_products_search_path(@user, @list), method: :get do %>
	Product Search <%= text_field_tag :product %>
	<%= submit_tag 'Search' %>
<% end %>
