<% if @favorite_store.errors.any? %>
	<ul>
		<% @favorite_store.errors.full_messages.each do |error| %>
			<li><%= error %></li>
		<% end %>
	</ul>
<% end %>

<%= form_tag user_favorite_stores_path do %>
	<label>Name: </label><br>
	<%= text_field_tag :'store[name]' %><br>

	<label>Address: </label><br>
	<%= text_field_tag :'store[address]' %><br>

	<%= hidden_field_tag :'favorite_store[comment]' %><br>

	<%= submit_tag "Submit Store" %>
<% end %>


