<ul>
	<% @user.stores.each do |store| %>
		<li>
			<%= link_to store.name, user_store_path(@user, store) %>
			<%= store.address %>

			<%= button_to "Delete Store", user_favorite_store_path(@user, store), method: :delete %>
		</li>
	<% end %>
</ul>

<%= render 'add_store' %>
<%= link_to 'Create Store', new_user_favorite_store_path %>
