<div class='container is-fluid'>
	<div class='hero-body'>

		<h2 class='title'>My Favorite Grocery Stores</h2>

		<ul>
			<% @user.stores.each do |store| %>
				<li>
					<%= link_to store.name, user_store_path(@user, store) %>
					<%= store.address %><br/>
				</li>

				<a class='button is-rounded is-danger' href="<%= user_favorite_store_path(@user, store) %>" data-method="delete">
					Delete Store
				</a>

			<% end %>
		</ul>
	</div>

	<%= render 'add_store' %>
	<a class='button is-rounded is-primary' href="<%= new_user_favorite_store_path %>" >
		Create Store
	</a>

</div>