<h1><%= @store.name %></h1>
<li><%= @store.address %></li>

<%= form_tag store_products_search_path(@store), method: :get do %>
	Product <%= text_field_tag :product %>
	<%= submit_tag 'Search' %>
<% end %>

<%= button_to "Edit Store", edit_store_path(@store), method: :get %>
<%= button_to "Delete Store", @store, method: :delete %>