<div class='container is-fluid'>
	<div class='hero-body'>

		<h2 class='title'><%= @store.name %></h2>
		<h3><%= @store.address %></h3>

		<ul>
			<% @store.products.each do |product| %>
				<li>
					<%= link_to product.name, user_product_path(@user, product) %><br/>
					Price: $<%= @store.price(product) %><br/>
					Aisle: <%= @store.aisle(product) %>
				</li>
			<% end %>
		</ul>

	</div>



	<%= form_tag user_store_products_search_path(@user, @store), method: :get do %>
		Product <%= text_field_tag :product %>
		<%= submit_tag 'Search' %>
	<% end %>

	<a class='button is-rounded is-warning' href="<%= edit_user_store_path(@store) %>" >
		Edit Store
	</a><br/>
	<a class='button is-rounded is-danger' href="<%= user_store_path(@store) %>" data-method='delete' >
		Delete Store
	</a>

</div>