<div class='container is-fluid'>
	<div class='hero-body'>
		<h1 class='title'>Welcome, <%= @user.name %></h1><br/>

		<h2 class='subtitle'> Email: <%= @user.email %> </h2><br/>
		<h2 class='subtitle'> Username: <%= @user.username %> </h2><br/>

	</div>

	<a class='button is-rounded is-warning' href="<%= edit_user_path(@user) %>" data-method="get">
		Edit User
	</a>
	<a class='button is-rounded is-danger' href="<%= @user %>" data-method="delete">
		Delete User
	</a>

</div>
