<!DOCTYPE html>
<html>
  <head>
    <title>GroceryApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <% if @logged_in %>
            <li>
              Logged in as <%= @user.username %>
            </li>

            <li>
              <%= link_to "Log Out", session_path, method: :delete %>
            </li>

          <% else %>
            <li>
              <%= link_to "Register", new_user_path %>
            </li>

            <li>
              <%= link_to "Log In", new_session_path %>
            </li>
            
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
