<!DOCTYPE html>
<html>
  <head>
    <title>GroceryApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class='navbar is-primary' role='navigation' aria-label='main navigation'>
        <div class='navbar-menu has-text-black'>
          <% if @logged_in %>

            <div class='navbar-item'>
              <%= link_to "My Account", user_path(@user) %>
            </div>

            <div class='navbar-item'>
              <%= link_to "My Lists", user_lists_path(@user) %>
            </div>

            <div class='navbar-item'>
              <%= link_to "My Stores", user_favorite_stores_path(@user) %>
            </div>

            <div class='navbar-item'>
              <%= link_to "Log Out", session_path, method: :delete %>
            </div>

            <div class='navbar-end'>
              Logged in as <%= @user.username %>
            </div>

          <% else %>
            <a class='navbar-item'>
              <%= link_to "Register", new_user_path %>
            </a>

            <a class='navbar-item'>
              <%= link_to "Log In", new_session_path %>
            </a>

          <% end %>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
