<!DOCTYPE html>
<html class='has-background-grey-lighter'>
  <head>
    <title>GroceryApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class='navbar is-dark' role='navigation' aria-label='main navigation'>
        <div class="navbar-brand">
          <div class="navbar-item">
            <%= link_to "GROCER-E", session_path, {style: 'color:#6eb530;font-weight:bold;'} %>
          </div>
        </div>

        <div class='navbar-menu has-text-white'>
          <% if @logged_in %>
            <div class='navbar-item'>
              <%= link_to "My Account", user_path(@user), {style: 'color:#ffffff;'} %>
            </div>

            <div class='navbar-item'>
              <%= link_to "My Lists", user_lists_path(@user), {style: 'color:#ffffff;'} %>
            </div>

            <div class='navbar-item'>
              <%= link_to "My Stores", user_favorite_stores_path(@user), {style: 'color:#ffffff;'} %>
            </div>

            <div class='navbar-item'>
              <%= link_to "Log Out", session_path, {method: :delete, style: 'color:#ffffff;'} %>
            </div>

            <div class='navbar-end'>
              Logged in as <%= @user.username %>
            </div>

          <% else %>
            <div class='navbar-item'>
              <%= link_to "Register", new_user_path, {style: 'color:#ffffff;'} %>
            </div>

            <div class='navbar-item'>
              <%= link_to "Log In", new_session_path, {style: 'color:#ffffff;'} %>
            </div>

          <% end %>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
